body {
    padding: 0;
    margin: 0;
    background: black;

    display: flex;
}

#timetable-wrapper {
    width: 50%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    color: yellow;
}


#interraction {
    width: 50%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
}

#interraction p {
    width: 100%;
    text-align: center;
}

aside {
    margin: 10px;
}

table {
    border: 1px solid yellow;
    border-collapse: collapse;
}

.t-head {
    text-align: center;

    font-size: 15pt;
}

.t-time, .t-time-sub {
    font-size: 10pt;
}

.t-timetable td:nth-child(4) {
    border-right: 3px solid yellow;
    text-align: center;
}

.t-timetable td:nth-child(5), .t-timetable td:nth-child(1) {
    text-align: center;
}

.fade {
    color: black;
}