body {
    padding: 0;
    margin: 0;
    background: black;

    display: flex;
}

#language-button-wrapper {
    position: absolute;
    right: 20px;
    top: 20px;
    color: white;
    font-size: 16pt;
}

.language-button {
    cursor: pointer;
    padding: 5px;

    border-radius: 5px;
    font-size: 12pt;
    margin: 5px;

    transition: all 1s;
}

.active-language {
    background: yellow;
    color: black;
    font-size: 16pt;

    transition: all 1s;
}

#timetable-wrapper {
    width: 50%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    color: yellow;
}


#interraction {
    width: 50%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
}

#interraction p {
    width: 100%;
    text-align: center;
}

aside {
    margin: 10px;
}

table {
    border: 1px solid yellow;
    border-collapse: collapse;
}

.t-head {
    text-align: center;

    font-size: 15pt;
}

.t-time, .t-time-sub {
    font-size: 10pt;
}

.t-timetable td:nth-child(4) {
    border-right: 3px solid yellow;
    text-align: center;
}

.t-timetable td:nth-child(5), .t-timetable td:nth-child(1) {
    text-align: center;
}

.fade {
    color: black;
}